/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    /* background-color: #f1f1f1; */
    color: red;
    /* opacity: 0.1; */
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
    padding-bottom: 25px;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    /* background-color: #ccc; */
    padding-top: 20px;
    border-bottom: 5px solid red;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 50px 50px;
    border: 1px solid #ccc;
    border-top: none;
    background-color:  #ddd;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */

  }

img {
    width: 25%;
    padding: 10px;
    padding-bottom: 20px;

    max-width:100%;
    object-fit: contain;
}

.resize {
    width: auto;
    text-align: center;
    padding: 20px;
}

.banner {
    text-align: center;
}

body {
    background-color: rgba(2, 61, 89, 255);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fadeEffect {
  from {opacity: 0.25;}
  to {opacity: 1;}
}
